*{
	padding: 0;
	margin: 0;
}

/*------Header------*/
/*------Header------*/
/*------Header------*/
/*------Header------*/

header{
	position: sticky;
	z-index: 3;
	top: 0;
	background-color: white;
}

#topHeaderContent{
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap:  10px;
	align-items: center;
	

}

header a{
	text-decoration: none;
	color: black;
}

.imgLogo{
	width: 10%;
}


ul{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	text-align: center;
}

ul li{
	list-style-type: none;
	width: 25%;
	padding: 15px;
}

ul li:nth-child(1){
	background-color: #FF6853;
}

ul li:nth-child(2){
	background-color: #FF537C;
}

ul li:nth-child(3){
	background-color: #95CB7C;
}

ul li:nth-child(4){
	background-color: #3F50E7;
}



/*------Main Content------*/
/*------Main Content------*/
/*------Main Content------*/
/*------Main Content------*/


#descriptionPage{
	background-color: #FF537C;
	margin-top: -15px;
	height: 525px;
	padding: 200px;
	text-align: center;
}

/*---Objectif---*/
/*---Objectif---*/
/*---Objectif---*/



#ourObjectif{
	background-color: #D9CBCB;
}




#containerObjectif{
	width: 80%;
	margin: 0 auto;
	padding-top: 20px;
	padding-bottom: 20px;
}



#containerObjectif div{
	
	display: flex;
	justify-content: space-around;
	text-align: center;
	margin-top: 10px;
	
}

#ourObjectif div article{
	background-color: white;
	width: 30%;
	padding: 30px;
}


#ourObjectif div article img{
	width: 20%;
}

/*---Nos temoignage---*/
/*---Nos temoignage---*/
/*---Nos temoignage---*/

#nosTemoignage{
	
	background-color: white;
	margin-top: 10px;
}

#containerTemoignage{
	width: 80%;
	margin: 0 auto;
}

#containerTemoignage div{
	display: flex;
	justify-content: space-between;
	margin-top: 15px;
}



#nosTemoignage img{
	width: 200px;
	height: 200px;
	float: left;
}

#nosTemoignage figcaption{
	
}

#nosTemoignage figcaption:hover{
	background-color: orangered;
}


/*------allUcanAskUs------*/
/*------allUcanAskUs------*/
/*------allUcanAskUs------*/
/*------allUcanAskUs------*/

#allUcanAskUs{
	background-color: #D9CBCB ;
}

#containerAskUs{
	width: 80%;
	margin: 0 auto;
}

#containerAskUs article{
	background-color: grey;
	width: 40%;
	padding: 50px;
	
}

.contentAskUs{
	margin-top: 100px;
	display: flex;
	justify-content: space-around;
}



.positionLeft{
	float: inline-start;
	
	
}

.positionRight{
	float: inline-end;
	
}


/*------Nos Realisation------*/
/*------Nos Realisation------*/
/*------Nos Realisation------*/
/*------Nos Realisation------*/

#containerRealisation{
	width: 80%;
	margin: 0 auto;
}

#contentRealisation{
	display: flex;
	flex-wrap: wrap;
	color: white;
	
	justify-content: center;
}

#contentRealisation p{
	position: relative;
	top: 160px;
}

#contentRealisation a{
	text-decoration: none;
	color: white;
	position: relative;
	top: 140px;
}


#contentRealisation div{
	width: 25%;
	height: 200px;
	margin: 10px;
	
}

#contentRealisation div:nth-child(1){
	background-image: url(../img/realisation.jpg);
	background-repeat: no-repeat;
	background-size: cover;

}

#contentRealisation div:nth-child(2){
	background-image: url(../img/realisation.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	
}

#contentRealisation div:nth-child(3){
	background-image: url(../img/realisation.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	
}

#contentRealisation div:nth-child(4){
	background-image: url(../img/realisation.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	
}

#contentRealisation div:nth-child(5){
	background-image: url(../img/realisation.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	width: 52%;
	
}

#contentRealisation div:nth-child(6){
	background-image: url(../img/realisation.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	
}

#contentRealisation div:nth-child(7){
	background-image: url(../img/realisation.jpg);
	background-repeat: no-repeat;
	background-size: cover;	

}

#contentRealisation div:nth-child(8){
	background-image: url(../img/realisation.jpg);
	background-repeat: no-repeat;
	background-size: cover;	

}





/*------Footer------*/
/*------Footer------*/
/*------Footer------*/
/*------Footer------*/

footer{
	position: static;
	bottom: 0;
	display: inline-block;
	justify-content: space-around;
	
}

#newsletter{
	background-color: red;
}

#newsletter form{
	width: 50%;
	margin: 0 auto;
	text-align: center;
}

#newsletter input[type=text]{
	background-color: white;

	border-radius: 20%;
	border: solid 2px white;
	padding: 15px;
	margin-top: 10px;
}

#newsletter input[type=submit]{
	position: relative;
	top: -65px;
	left: 350px;
	border-radius: 50%;
	padding: 5px;
}



#footerContent{
	display: flex;
	justify-content: center;
	background-color: paleturquoise;
}

#footerContent div{
	width: 33%;
}

#footerContent div:nth-child(1){
	display: flex;
	flex-direction: column;
	font-size: 50px;
	color: white;
}

#footerContent div:nth-child(2) img{
	width: 50%;
}

#footerContent div:nth-child(3){
	
}

