/*------Header------*/

header{
	position: sticky;
	z-index: 3;
	top: 0;
	background-color: white;
}

#topHeaderContent{
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap:  10px;
	align-items: center;
	

}

header a{
	text-decoration: none;
	color: black;
}

.imgLogo{
	width: 10%;
}


ul{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	text-align: center;
}

ul li{
	list-style-type: none;
	width: 25%;
	padding: 15px;
}

ul li:nth-child(1){
	background-color: #FF6853;
}

ul li:nth-child(2){
	background-color: #FF537C;
}

ul li:nth-child(3){
	background-color: #95CB7C;
}

ul li:nth-child(4){
	background-color: #3F50E7;
}
/*------Header------*/
/*------Footer------*/

footer{
	position: static;
	bottom: 0;
	display: inline-block;
	justify-content: space-around;
	
}

#footerContent{
	display: flex;
	justify-content: center;
	background-color: paleturquoise;
}

#footerContent div{
	width: 33%;
}

#footerContent div:nth-child(1){
	display: flex;
	flex-direction: column;
	font-size: 50px;
	color: white;
}

#footerContent div:nth-child(2) img{
	width: 50%;
}
/*------Footer------*/
* {
    outline: none !important;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


html,
body,
.container,
.scroller {
    height: 100%;
}

main {
    display: block;
}

div {
    display: block;
}

.decouverte {
    position: relative;
}

section.decouverte a {
    display: inline-flex;
    padding: 10px;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.nesec.block.personnalise .main_tile_new_block {
    color: #2c333e !important;
    margin: 10px 0px 10px 10px !important;
    display: block;
}

.nesec.block.personnalise .main_tile_new_block {
    font-size: 36px !important;
}

.nesec.block.personnalise {
    color: #dc3a59 !important;
    font-size: 2rem;
}


.nesec .personalise  {
    background: #dc3a59;
    color: #fff;
    font-size: 13px;
    padding: 11px 30px;
    border: none;
    letter-spacing: 1px;
    font-weight: normal;
    display: inline-block;
}

.block {
    display: block;
}

.conteneur1 {
    overflow: hidden;
    max-width: 900px;
    margin: 50px 20px 50px;
    box-shadow: 15px 15px 15px 15px #777;

}

.d1 {
    width: 4000px;
    height: 320px;
    background-color: #EDEDED;
    background-image: url('https://www.hebergeur-image.com/upload/185.61.190.198-627397333ad93.jpg');
    background-size: contain;
    animation: defilement1 40s linear infinite;
}



@keyframes defilement1 {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(-2880px, 0);
    }
}

.col-sm-5 {
    position: 50%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;

}

.col-md-6 {
    width: 50%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-sm-7 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px
}




.nesec header {
    padding: 0;
}

header {
    position: relative;
    z-index: 10;
    padding: 20px;
}

article {
    padding: 0;
    position: relative;
    overflow: hidden;
    -webkit-box-shadow: 2px 2px 7px 2px rgb(0 0 0 / 68%);
    -moz-box-shadow: 2px 2px 7px 2px rgba(0, 0, 0, 0.68);
    box-shadow: 2px 2px 7px 2px rgb(0 0 0 / 68%);
    -webkit-transition: all 250ms ease-in-out;
    -moz-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
}

.row {
    margin-right: 3rem;
    margin-left: 3rem;
    margin-top: 3rem;
    padding-bottom: 3rem !important;
}

@media (min-width: 768px) {
    .container {
        width: 750px
    }
    .col-sm-7 .col-md-6 .col-sm-5 {
        width: 55%;
        float:left
    }
    .row {
        justify-content: center !important;
        max-width: 100%;
        margin: auto;
    }

}

@media (min-width: 992px) {
    .container {
        width: 970px
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px
    }
}

@media only screen and (max-width:480px) {
    .row {
        justify-content: center !important;
        max-width: 100%;
        margin: auto;
    }


   