#navElias
{
    background-color: #95CB7C;
    color: White;
    text-align: center;
    margin-top:-35px;
}

body{
    font-family: 'Lato', sans-serif;
    margin:0;
}
/*------Header------*/
/*------Header------*/
/*------Header------*/
/*------Header------*/

header{
	position: sticky;
    background-color: white;
    top: 0;
    z-index: 99;
}

#topHeaderContent{
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap:  10px;
	align-items: center;
	

}

header a{
	text-decoration: none;
	color: black;
}

.imgLogo{
	width: 10%;
}


ul{

	display: flex;
	flex-direction: row;
	justify-content: space-around;
	text-align: center;
    margin-left:-52px;
}

ul li{
	list-style-type: none;
	width: 25%;
	padding: 15px;
}

ul li:nth-child(1){
	background-color: #FF6853;
}

ul li:nth-child(2){
	background-color: #FF537C;
}

ul li:nth-child(3){
	background-color: #95CB7C;
}

ul li:nth-child(4){
	background-color: #3F50E7;
}
h1, h2 {
    font-size: 35px;
    padding-top: 30px;
}
#navElias p{
    font-size:20px;
    padding-bottom: 30px;
}

#bulle{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#bulle div{
    width: 30%;
    border: solid;
    text-align: center;
}



.titre1{
    text-decoration: underline;
    margin-left: 50px;
    margin-bottom: 100px;
}



#mainElias img{
    width: 150px;
   
}
#mainElias p {
    text-align: center;
    font-size: 17;
}

#mainElias h3 {
    margin-top:-10px ;
    text-align: center;
    font-size: 25px;
}

#allCarre{
    width: 90%;
    margin: 0 auto;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#allCarre div{
    width: 30%;
    border: solid;
    text-align: center;
}



.titre2{
    text-decoration: underline;
    text-align: center;
    margin-top: 50px;
}

#allOnglet{
    width: 90%;
    margin:  0 auto;
   
}

.premier-onglet{
    height: 150px;
    width:600px;
    border: solid;
    font-size: 20px;
    text-align: center;
    margin-left: 100px;
    position: block;
}
.bulle1{
    background-color: #95CB7C;
    height: 110px;
    width: 130px;
    text-align: center;
    font-size: 90px;
    color: white;
    margin-left: 650px;
    margin-top:-130px ;
}

.deuxième-onglet{
    height: 150px;
    width:600px;
    border: solid;
    font-size: 20px;
    text-align: center;
    margin-left: 750px;
    position: block;
    margin-top: 80px;
}
.bulle2{
    background-color: #95CB7C;
    height: 110px;
    width: 130px;
    text-align: center;
    font-size: 90px;
    color: white;
    margin-left: 680px;
    margin-top:-130px ;
}

.troisième-onglet{
    height: 150px;
    width:600px;
    border: solid;
    font-size: 20px;
    text-align: center;
    margin-left: 100px;
    position: block;
    margin-top:80px;
}

.bulle3{
    background-color: #95CB7C;
    height: 110px;
    width: 130px;
    text-align: center;
    font-size: 90px;
    color: white;
    margin-left: 650px;
    margin-top:-130px ;
}
.quatrième-onglet{
    height: 150px;
    width:600px;
    border: solid;
    font-size: 20px;
    text-align: center;
    margin-left: 750px;
    position: block;
    margin-top: 80px;
}

.bulle4{
    background-color: #95CB7C;
    height: 110px;
    width: 130px;
    text-align: center;
    font-size: 90px;
    color: white;
    margin-left: 680px;
    margin-top:-130px ;
}


#allRectangle{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

#allRectangle div{
    width: 30%;
    border: solid;
    text-align: center;
}

#allRectangle div img{
    width: 20%;
}


#text3{
    width: 90%;
    margin: 0 auto;
    
}


h3{
    text-align: center;
}
.couleur-Frère{
    color: #95CB7C;
    font-size: 40px;
    margin-top: -10px;
    text-align: center;
}


.couleur-Frère2{
    color: #95CB7C;
    font-size: 40px;
    margin-top: 50px;
    text-align: center;
}

/*------Footer------*/
/*------Footer------*/
/*------Footer------*/
/*------Footer------*/

footer{
	position: static;
	bottom: 0;
	display: inline-block;
	justify-content: space-around;
	
}

#footerContent{
	display: flex;
	justify-content: center;
	background-color: paleturquoise;
}

#footerContent div{
	width: 33%;
}

#footerContent div:nth-child(1){
	display: flex;
	flex-direction: column;
	font-size: 50px;
	color: white;
}

#footerContent div:nth-child(2) img{
	width: 50%;
}